body {
  background-color: #010806;
}

h1 {
  color: #8C1521;
  font-family: Courier;
  text-transform: uppercase;
  text-decoration: underline;
}

h1:first-letter {
  font-weight: bold;
  font-size: 200%;
}

h3 {
  color: #BF081A;
  font-family: impact;
  text-transform: capitalize;
}

p {
  color: #E66572;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: justify;
}

p:first-line {
  color: #FA39F7;
  font-family: arial, extended, serif;
  font-size: 1.4em;
}

ul {
  color: #FA4639;
  font-family: Courier;
  text-align: right;
}

img {
  opacity: 0.4;
  width: 240px;
  height: 240px;
  vertical-align: middle;
}

img:hover {
  opacity: 1.0
}