body {
  background-color: #FFFF00;
  font-family: font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  color: #8A0829;
  font-family: Courier;
}

h3 {
  color: #FE2E2E;
  font-family: lucida;
}

/*.fantasy info {
  text-align: center;
}

#paragraph 2 {
  background-color: #00FFFF;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#for show {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-color: red;
}*/


